
.login-title {
    font-size: 3.5rem;
    letter-spacing: 7px;
    margin-bottom: 1rem;
}
.login-copyright {
    color: white;
}
.login-bg {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.login-card {
    width: 36rem;
}
.login-card:hover {

}

@media (prefers-color-scheme: light) {
    .login-title {
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .login-copyright {
        color: #75b798;
    }
    .login-bg {
        background-color: #473e1b;
        background-image: linear-gradient(132deg, #473e1b 0%, #186254 100%);
    }
}